html,
body {
    width: 100%;
    height: 100%;
    background: black;
    color: whitesmoke;
}


.container {
    height: 70vh;
    width: 80vw;
    border-style: solid;
    padding: 10px;
}

button {
    width: 100%;
    height: 10%;
    background-color: whitesmoke;

}

.center {
    margin: auto;
    padding-bottom: 1%;
}

ul {
    list-style: none;
}

#recordingslist audio {
    display: block;
    margin-bottom: 10px;
}

audio, input {
    width: 100%;
    padding-bottom: 5%;
}
